* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-size: 18px;
}

h1 {
    font-size: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Infant", sans-serif;
}

a,
p {
    font-family: "Karla", sans-serif;
}

header {
    width: 100%;
    background: url("images/poster.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

header nav {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

header nav ul {
    flex: 0 0 calc(50%+300px);
    display: flex;
    gap: 30px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav img {
    flex: 0 0 calc(50%+300px);
    width: 50px;
    height: 30px;
}

.header-title {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.customer-testimonial {
    width: 100%;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.customer-testimonial p {
    font-size: 16px;
    opacity: 0.8;
}

.customer-testimonial h1 {
    font-style: italic;
    padding-bottom: 50px;
}

.support {
    background-color: rgb(251, 65, 65);
    width: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
}

.support h2 {
    font-family: "Karla", sans-serif;
}

.support p {
    width: 300px;
    text-align: center;
}