@keyframes rising {
    0% {
        width: 0px;
        height: 0px;
    }
    20% {
        width: 5px;
        height: 5px;
    }
    40% {
        width: 10px;
        height: 10px;
    }
    60% {
        width: 15px;
        height: 15px;
    }
    80% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

@keyframes sliding {
    0% {
        left: 25px;
    }
    20% {
        left: 20px;
    }
    40% {
        left: 15px;
    }
    60% {
        left: 10px;
    }
    80% {
        left: 5px;
    }
    100% {
        left: -5px;
    }
}

@keyframes unsliding {
    0% {
        left: 0px;
    }
    20% {
        left: 5px;
    }
    40% {
        left: 10px;
    }
    60% {
        left: 15px;
    }
    80% {
        left: 20px;
    }
    100% {
        left: 30px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.container {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 100px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container div p {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="radio"]::before {
    position: absolute;
    left: -10px;
    top: -5px;
    content: "";
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #EEE;
    border: 1px solid silver;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    background-color: orange;
}

input[type="radio"]:checked::after {
    position: absolute;
    transform: translateX(-20%);
    top: 1px;
    content: "";
    border-radius: 50%;
    background-color: rgb(189, 124, 2);
    cursor: pointer;
    animation: rising;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input[type="checkbox"] {
    margin-right: 40px;
}

input[type="checkbox"]::before {
    position: absolute;
    left: -10px;
    top: -5px;
    content: "";
    width: 65px;
    height: 30px;
    border-radius: 30px;
    background-color: #EEE;
    border: 1px solid silver;
    cursor: pointer;
}

input[type="checkbox"]::after {
    position: absolute;
    top: 0.5px;
    left: 30px;
    content: "";
    border-radius: 50%;
    background-color: rgb(189, 124, 2);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked::before {
    background-color: orange;
}

input[type="checkbox"]:checked::after {
    animation: sliding;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input[type="checkbox"]:not(:checked)::after {
    animation: unsliding;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}