* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-items {
    flex: 1 0 calc(50%-100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-items h1 {
    font-size: 24pt;
}

.container-items img {
    width: 300px;
    height: 400px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container-items .buttons {
    display: flex;
    gap: 10px;
}

.container-items .buttons a:nth-child(1) {
    padding: 10px 20px 10px 20px;
    background-color: rgb(3, 173, 3);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.container-items .buttons a:nth-child(2) {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.container-items .buttons a:nth-child(1):hover {
    color: white;
    background-color: black;
}