.flex-container {
    display: flex;
    width: 400px;
    height: 200px;
    border: 2px solid blue;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid black;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}